<div class= "row">
    <div class="col-md-4">
        <h1 class="text-center">Todo</h1>
        <div class="panel panel-info">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-footer">Footer</div>
    </div>

    </div>
    <div class="col-md-4 text-center">
        Doing
    </div>
    <div class="col-md-4 text-center">
        Done
    </div>
</div>

<% if can? :update, @book %>
    <%= link_to “Edit”, edit_article_path(@book) %>
<% end %>
class ApplicationController < ActionController::Base
  rescue_from CanCan::AccessDenied do |exception|
    redirect_to root_url, :alert => exception.message
  end
end