<div class= "row">
    <div class="col-md-4 text-center">
        <h1>Todo</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content</div>
            <div class="panel-footer">Footer</div>
    </div>

    </div>
    <div class="col-md-4 text-center">
        Doing
    </div>
    <div class="col-md-4 text-center">
        Done
    </div>
</div>